@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400&display=swap');
body{
  background-color:#00B454;
  margin: 0;
}

header{
  background-color: #FF3900;
  height: 70px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.logo a{
  color: white;
  text-decoration: none;
  font-size: 26px;
  font-family: Lato;
}

.search form {
  background: #F9F0DA;
  border-bottom: 3px solid #BF5030;
  margin-left: 20px;
  border-radius: 25px;
}

.search input, .search button {
  border: none;
  outline: none;
  background: transparent;
}

.search input {
  width: 100%;
  height: 22px;
  padding-left: 15px;
}

.search button {
  height: 68px;
  width: 666px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.search button:before {
  font-size: 20px;
  color: #BF5030;
}

.nav{
  flex-grow: 1;
}

.nav a{
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-family: Roboto Slab;
}

.nav ul{
  display: flex;
  flex-flow: row nowrap;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-right: 20px;
}

.nav ul:last-child{
margin-right: 0;
}
